.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    text-align-last: center;
    align-items: center;
    color: azure;
    padding: 2.5rem;
}